{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [
    "react-require",
    ["module-resolver", {
      "root": ["./src/main/react"],
      "alias": {

        "Switcher": "./app/views/react/Switcher.jsx",

        "CredentialsPage": "./app/views/react/pages/CredentialsPage.jsx",
        "LinksPage": "./app/views/react/pages/LinksPage.jsx",
        "EditLinksPage": "./app/views/react/pages/EditLinksPage.jsx",

        "SignUpForm": "./app/views/react/components/credentials/SignUpForm.jsx",
        "ForgotForm": "./app/views/react/components/credentials/ForgotForm.jsx",
        "LogInForm": "./app/views/react/components/credentials/LogInForm.jsx",
        "CredentialsForm": "./app/views/react/components/credentials/CredentialsForm.jsx",

        "MainCSS": "./public/stylesheets/main.css"
      }
    }]
  ]
}