{
  "presets": ["es2015", "react"],
  "plugins": [
    "react-require",
    ["module-resolver", {
      "root": ["./src/main/react"],
      "alias": {
        "LoginDialog": "./src/main/react/LoginDialog.jsx"
      }
    }]
  ]
}