{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [
    "react-require",
    ["module-resolver", {
      "root": ["./src/main/react"],
      "alias": {
        "LoginDialogJSX": "./src/main/react/LoginDialog.jsx",
        "MainCSS": "./public/stylesheets/main.css"
      }
    }]
  ]
}