body{
    margin: 0;
    padding: 0;
    background:white;
}
html{
    margin: 0;
    padding: 0;
    /*background:#000;*/
}

.white {
    background-color:  rgba(0,0,0,0.8);
}

.gUrIuX {
    margin: 0px;
}