html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-position: right;
    background-image: url("/assets/images/theme.jpg");
}

.header-class {
    background-color: #333;
}

.gUrIuX {
    margin: 0!important;
}

.credentials-page-class {
    width: 50%;
    float: right;
    background-color: white;
    height: 100%;
}

.main-class {
 height: 100%;
}

.links-page-class {
    background: white;
    text-align: center;
    margin: 0% 15%;
    padding: 2%;
    border-radius: 15px;
}

.links-description-class {
    margin-bottom: 50px;
    text-align:  left;
    margin-left: 5%;
}

/*override blue to purple*/
/*button*/
.bTbpPj {
    /*background: #6A5ACD!important;*/
    background: darkslateblue!important;
}
/*button-hover*/
.hPqgRo {
    background: #6A5ACD!important;
}
/*text-link*/
button.lmuHbO {
    color: darkslateblue!important;
}
/*text-link-hover*/
button.iKJURs {
    color: #6A5ACD!important;
}

.kdoEdc {
    border-color: #6A5ACD!important;
}
