html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background: white;
    /*background: #F5F5F5;*/
}

.white {
    background-color:  #3f3f3f;
}

.gUrIuX {
    margin: 0!important;
}


/*override blue to purple*/
/*.bTbpPj {*/
    /*background: #6A5ACD!important;*/
/*}*/
