@(title: String)(content: Html)(implicit request: UserRequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @*<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>*@

    </head>
    <body>
        @content
        <div id="content"></div>

        <script type="text/javascript">
            document.csrfToken = '@helper.CSRF.formField';
            document.userInfo = {};
            document.userInfo.isDefined = @request.userInfo.isDefined;
            document.userInfo.username = '@{request.userInfo.map(_.username).getOrElse("undefined")}';
        </script>

        <script src="@routes.Assets.at("javascripts/build.js")" type="text/javascript"></script>
    </body>
</html>
